@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #F8FCFF;
  scroll-behavior: smooth;
}

.navbar {
  padding: 20px;
  background-color: #39B89E;
}

.navbar .container-fluid {
  width: 97%;
}

.navbar .container-fluid .collapse {
  width: 30%;
  float: right;
}

.navbar .container-fluid .collapse .navbar-nav {
  width: 100%;
  margin: 0 auto;
}

.navbar .container-fluid .collapse .navbar-nav .custom {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  color: #000000;
  font-weight: 600;
}

.navbar .container-fluid .collapse .navbar-nav .custom:hover {
  color: #F8FCFF;
}

.navbar .container-fluid .collapse .navbar-nav .current {
  border-bottom: 5px solid #F8FCFF;
}

.navbar .navbar-toggler.custom-toggler {
  border-color: #000000;
  color: #39B89E;
  background-color: #39B89E;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.sticky-bottom {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
}

@media (max-width: 768px) {
  .navbar {
    width: auto;
  }
  .navbar .container-fluid {
    width: 85%;
  }
  .navbar .container-fluid .collapse {
    width: 75%;
    margin: 0 auto;
  }
  .navbar .container-fluid .collapse .navbar-nav .custom {
    width: 50%;
    margin: 0.5rem auto;
    font-weight: 500;
    font-size: 1rem;
  }
}

.footer {
  background-color: #39B89E;
  color: #000000;
}

.footer .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 75%;
  margin: 0 auto;
  padding: 0.5rem;
}

@media (max-width: 576px) {
  .footer .section {
    padding: 0.2rem;
  }
}

.footer .section a {
  text-decoration: none;
  color: #000000;
}

.footer .section a:hover {
  color: #F8FCFF;
}

.footer .section a:focus {
  color: #F8FCFF;
}

.footer .contact {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.footer .contact:hover {
  color: #F8FCFF;
}

.footer .contact:focus {
  color: #F8FCFF;
}

@media (max-width: 576px) {
  .footer {
    font-size: 0.8rem;
  }
}

.display-non {
  display: none;
}

.custom-main {
  width: 95%;
  margin: 0.5rem auto;
}

.custom-main .title-section {
  margin: 7% 0;
}

@media (max-width: 1024px) {
  .custom-main .title-section a {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}

.custom-main .title-section a .cta {
  padding: 0.5rem 4rem;
  background-color: #39B89E;
  color: #F8FCFF;
  font-size: 1.75rem;
  font-weight: 900;
  outline: none;
  border: none;
  margin: 2rem 0;
}

@media (max-width: 768px) {
  .custom-main .title-section a .cta {
    width: 100%;
  }
}

.custom-main .title-section .cta:hover {
  opacity: 0.9;
}

.custom-main .title-section .cta:focus {
  opacity: 0.9;
}

.custom-main .title-section .title {
  font-size: 4.5rem;
}

@media (min-width: 1440px) {
  .custom-main .title-section .title {
    font-size: 6rem;
  }
}

@media (max-width: 1024px) {
  .custom-main .title-section .title {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .custom-main .title-section .title {
    font-size: 5rem;
    width: 80%;
    margin: 0 auto;
  }
}

.custom-main .title-section .title span {
  color: #39B89E;
  font-weight: 900;
}

.custom-main .img-section img {
  width: 100%;
  min-width: 500px;
}

.carousel .swiper-container {
  width: 95%;
  height: 400px;
}

.carousel .swiper-container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel .swiper-container .swiper-slide img {
  width: 100px;
  border-radius: 45%;
  margin: 1rem;
}

.carousel .swiper-container .arrow {
  color: #39B89E;
}
