@import 'header';

.main-about{
  width:95%;
  height: 85vh;
  display:flex;

}

.info-container{  
  width:40%;
  margin:35px 50px;
  padding-left: 70px;
}

.about{
  margin-bottom:50px;
}

.info-container h2{
  margin-bottom:1em;
  font-size:2em;
  color:$color;   
}

.info-container p{
  font-size: 1.8em;
  font-weight: lighter;
}

.info-container .address p{
  font-size:1.4em;
}

.info-container .phone{
  margin-top: 1em;
}

.info-container .phone p{
  font-size:1.4em;
}

// Form section

.contact{
  position: relative;
  width:30%;
  margin:35px auto;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  left: 5%;
}

.contact h2{
  width:100%;
  text-align: center;
  font-size:65px;
  color:$color;
}

.input-group{
  margin: 1rem auto;
  width:85%;
}

.input-group label{
  font-size:1.5em;
}


.input-group  #message{
  position: relative;
  width: 75%;
  left: 10%;
  padding: 10px;
  border:2px solid $color;
  outline: none;
  margin-top: 20px;
  font-size: 1.5em;
}

input{
  margin-top: 20px;
  position: relative;
  display:block;
  padding:10px;
  width:75%;
  left:10%;
  border:2px solid $color;
  outline: none;
  font-size: 1.5em;
}

#btn{
  border: none;
  background: $color;
  color:$white; 
  width:75%;
}

#btn:hover{
 background:rgba(57, 184, 158, 0.85);
}

@import "footer";

@media all and(max-width:600px){

  .main-about{
    width:95%;
    height: 85vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .info-container{  
      width:90%;
      margin:35px 50px;
      padding-left: 70px;
    }


    .contact{
      position: relative;
      width:90%;
      margin:35px auto;
      display:flex;
      flex-direction: column;
      align-items: flex-end;
      left: 5%;
    }
    

  
  }


}