
@import 'header';


// Main section
main{
  width: 95%;
  height:50vh;  
  margin:1.5em 1em;
  display:flex;
}

// Title and call to action
.left{
  padding-left: 5.5em;
  width:50%;

  .hero-title{
    font-size:4.5em;
    font-weight: 200;
  }

  .hero-title span{
    font-size:1.2em;
    font-weight: 600;
    color:$color;
  }

  .cta{
    margin-top:1.5em;
    padding:0.5em 2em;
    background-color: $color; 
    border:none;
    cursor: pointer;
    font-size: 1.5em;
    box-shadow: 1px 2px 5px;
    
  }

  .cta:hover{
    opacity: 0.9;
  }

  .cta a{
    color:$white;
    text-decoration: none;
    font-weight: 600;
    padding:20px;
  }
}

.right{
  top:20px;
  width:50%;
}

.right #doggie{
  width:75%;
  height: 90%;
  padding-bottom: 20px;
}

// testimonial

.testimonial-wrapper{
  width:75%;
  margin:20px auto;
}

.testimonial-container{
  max-width:100%;
  max-height: 35vh;
  margin:10px auto;
  display:flex;
}

.testimonial{
  width:100%;
  display:flex;
  flex-direction: column;
  align-items:center;
}


.test-img{
  margin: 10px;
  width:100px;
  height:80px;
  border-radius: 50%;
}

.test{
padding:10px;
}

// Footer

@import "footer";

@media all and(max-width:900px){

  main{
    width: 100%;
    margin:20px;  

    .left{
      .hero-title{
        font-size:3.5em;
        font-weight: 200;
        }
    }
    
    
    
      .right #doggie{
      width:95%;
      height: 90%;
      padding-bottom: 20px;
      }
  }
}

@media all and(max-width:600px){
 
  main{
    margin:20px;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .left{
      width:90%;
      padding:15px;
    }
    .right{
      display: none;
    }
  }

  .testimonial-wrapper{
    width:75%;
    position: relative;
    margin:20px auto;

    .testimonial-container{
      width:100%;
      height: 700px;
      margin:10px auto;
      display:flex;
      flex-direction: column;
      justify-content: space-evenly;
      overflow: auto;
      .testimonial{
        height: 32%;
        .test-img{
          margin: 5px;
          width:45px;
          height:45px;
          border-radius: 50%;
        }
      }
    }
  }

}
