$white:#ffffff;
$black:#000000;
$color:#39B89E;

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

// Header

// Page one
.header{
  width:90%;

  .navbar{
    width:100%;
    height:7vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav{
    width:30%;

  }

  .list{
    display:flex;
    justify-content: space-around;
  }

  li{
    list-style: none;
    padding:5px;
  }

  li:hover{
    padding:0;
    border-bottom:5px solid $color ;
  }

  .current{
    border-bottom:5px solid $color 
  }
  li > a{
    text-decoration: none;
    color: $black;
  }

  .logo{
    margin-left:75px ;
  }
}

// Main section
main{
  width:100%;
  height:50vh;
  margin:35px 50px;
  display:flex;
}

// Title and call to action
.left{
  padding-left:25px;
  width:50%;

  .hero-title{
    font-size:80px;
    font-weight: 200;
  }

  .hero-title span{
    font-size:100px;
    font-weight: 600;
    color:$color;
  }

  .cta{
    margin-top:50px;
    padding:10px 50px;
    background-color: $color;
    border:none;
    cursor: pointer;
    box-shadow: 1px 2px 5px;
  }

  .cta a{
    color:$white;
    text-decoration: none;
    font-weight: 600;
    padding:20px;
  }
}

.right{
  top:20px;


  .front-image{
    max-width:700px;
    max-height: 700px;
    border-radius: 90px;
  }
}

// testimonial

.testimonial-wrapper{
  width:75%;
  margin:20px auto;
}

.testimonial-container{
  max-width:100%;
  max-height: 35vh;
  margin:10px auto;
  display:flex;
}

.testimonial{
  width:100%;
  display:flex;
  flex-direction: column;
  align-items:center;

}


.test-img{
  margin: 10px;
  width:100px;
  height:80px;
  border-radius: 50%;
}

.test{
padding:10px;
}

// Footer

.footer{
  width:100%;
  height: 5vh;
  display:flex;
  align-items: center;
  justify-content: center;
 
  .fab{
    padding:10px;
  }

  .fab:hover{
    color:$color;
  }
}

// About page

// Info section

.main-about{
  width:95%;
  height: 85vh;
  display:flex;

}

.info-container{
  width:40%;
  margin:35px 50px;
}

.about{
  margin-bottom:50px;
}

.info-container h2{
  margin-bottom:1rem;
  font-size:65px;
  color:$color;
}

.info-container p{
  font-size: 1.3em;
  font-weight: lighter;
}

.info-container .address p{
  font-size:1.7em;
}

// Form section

.contact{
  position: relative;
  width:30%;
  margin:35px auto;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  left: 5%;
}

.contact h2{
  width:100%;
  text-align: center;
  font-size:65px;
}

.input-group{
  margin: 1rem auto;
  min-width:500px;
}

.input-group label{
  font-size:1.5em;
}


.input-group  #message{
  position: relative;
  width: 75%;
  left: 10%;
  padding: 10px;
  border:2px solid $color;
  outline: none;
}

input{
  margin-top: 20px;
  position: relative;
  display:block;
  padding:10px;
  width:75%;
  left:10%;
  border:2px solid $color;
  outline: none;
}

#btn{
  border: none;
  background: $color;
  color:$white;
}

#btn:hover{
 background:rgba(57, 184, 158, 0.85);
}
